---
import logo from "../assets/logo.png";
---
<footer class="bg-dark text-background py-12 px-6">
    <div class="max-w-6xl mx-auto text-center">
      <img
        src={logo.src}
        alt="Amber's Bakery"
        class="size-32 rounded-full mx-auto mb-4 opacity-80"
      />
      <h2 class="mb-8">
        Baking your story into every bite
      </h2>
      <div class="flex justify-between">
          <p class="text-sm text-light">
            BE123.456.789 (TEMPORARY)
          </p>
          <p class="text-sm text-light">
            © 2025 Amber's Bakery. Alle rechten voorbehouden.
          </p>
          <p class="text-sm text-light hover:text-background">
            <a href="./favicon.svg">Algemene voorwaarden</a>
          </p>
      </div>
    </div>
  </footer>