---
import logo from "../assets/logofull_nobg.png";
---

<section id="home" class="min-h-screen flex items-center justify-center px-6 pt-8">
  <div class="max-w-4xl mx-auto text-center">
    <img
      src={logo.src}
      alt="Amber's Bakery"
      class="w-80 h-80 mx-auto mb-8"
    />

    <h1 class="text-5xl md:text-6xl font-bold text-dark mb-6">
      Baking your story into every bite
    </h1>

    <p class="text-xl md:text-2xl text-medium mb-12 max-w-2xl mx-auto leading-relaxed">
    Huisgemaakte cakes, cupcakes, koekjes en andere zoete creaties, volledig op maat gemaakt voor elk event, thema of bijzonder moment.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a href="#featured"
        class="px-8 py-4 bg-light text-white rounded-full text-lg font-medium hover:bg-light transition-colors shadow-lg">
        Bekijk het assortiment
      </a>
      <a href="#contact"
        class="px-8 py-4 bg-white text-dark rounded-full text-lg font-medium hover:bg-background transition-colors border-2 border-light">
        Contacteer mij
      </a>
    </div>
  </div>
</section>
