---
import logo from '../assets/logo_notext.png';
import Navigation from '../components/Navigation.astro';

const backgroundColor = "#fef8ec";
const lightColor = "#cf9d44";
const mediumColor = "#8e530f";
const darkColor = "#784010";
const accentColor = "#8f8848";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&family=Dancing+Script:wght@400;600&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>Amber's Bakery</title>
	</head>
	<body>
		<article>
			<Navigation/>
			<slot />
		</article>
	</body>
</html>

<style is:global define:vars={{ lightColor, mediumColor, darkColor, accentColor, backgroundColor }}>
	@font-face {
		font-family: 'Milkshake';
		src: url('/fonts/milkshake.otf') format('otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--backgroundColor);
		font-family: Inter, sans-serif;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Playfair Display', serif;
	}
	
	.font-script {
		font-family: 'Dancing Script', cursive;
	}
</style>
